{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}
{% assign asset_version = site.time | date: "%s" %}

<div class="portrait-wrapper">
  {% assign social_keys = "orcid,linkedin,google-scholar" | split: "," %}
  {% assign has_social_links = false %}
  {% for key in social_keys %}
    {% if member.links[key] %}
      {% assign has_social_links = true %}
    {% endif %}
  {% endfor %}

  <div class="portrait" data-style="{{ include.style }}">
    <a
      {% if page.slug != member.slug %}
        href="{{ member.url | relative_url | uri_escape }}"
      {% endif %}
      class="portrait-image-link"
      aria-label="{{ member.name | default: "member link" | regex_strip }}"
    >
      <img
        src="{{ member.image | relative_url | uri_escape }}?v={{ asset_version }}"
        class="portrait-image"
        alt="member portrait"
        loading="lazy"
        {% include fallback.html %}
      >
    </a>

    <div class="portrait-info">
      {% if member.name %}
        <a
          {% if page.slug != member.slug %}
            href="{{ member.url | relative_url | uri_escape }}"
          {% endif %}
          class="portrait-name"
        >
          {{ member.name }}
        </a>
      {% endif %}

      {% if member.description or type %}
        <span class="portrait-description">
          {{ member.description | default: type.description }}
        </span>
      {% endif %}

      {% if member.affiliation %}
        <span class="portrait-affiliation">
          {{ member.affiliation }}
        </span>
      {% endif %}

      {% if has_social_links %}
        <details class="portrait-contact">
          <summary
            class="portrait-contact-toggle"
            data-tooltip="Contact links"
            aria-label="{{ member.name }} contact links"
          >
            {% include icon.html icon="fa-solid fa-chevron-down" %}
          </summary>
          <div class="portrait-socials">
            {% for key in social_keys %}
              {% assign value = member.links[key] %}
              {% if value %}
                {% assign social = site.data.types[key] %}
                {% if value contains "http" %}
                  {% assign link = value %}
                {% else %}
                  {% assign link = social.link | replace: "$VALUE", value %}
                {% endif %}
                <a
                  href="{{ link | uri_escape }}"
                  class="portrait-social"
                  data-tooltip="{{ social.tooltip }}"
                  aria-label="{{ member.name }} {{ social.tooltip }}"
                >
                  {% include icon.html icon=social.icon %}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </details>
      {% endif %}
    </div>
  </div>
</div>
